<!--============================= SUBPAGE HEADER BG =============================-->
<section class="subpage-bg">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="titile-block title-block_subpage">
          <h2>Pricing</h2>
          <p> <a href="index.html"> Home</a> / Pricing</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--// SUBPAGE HEADER BG -->
<!--============================= PRICING =============================-->
<section class="main-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 article-first">
        <div class="pricing-wrap">
          <div class="pricing-head">
            <h2>$20</h2>
            <span>Basic</span>
          </div>
          <ul class="pricing-text-block">
            <li>15 days listing</li>
            <li>1 GB Storage</li>
            <li>Export User data</li>
            <li>Add photos &amp; videos</li>
          </ul>
          <div class="pricing-signup">
            <a href="#" class="btn btn-danger">Sign up</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 article-first">
        <div class="pricing-wrap">
          <div class="pricing-head">
            <h2>$30</h2>
            <span>Standard</span>
          </div>
          <ul class="pricing-text-block">
            <li>30 days listing</li>
            <li>10 GB Storage</li>
            <li>Free Reservation</li>
            <li>Unlimited photos &amp; videos</li>
          </ul>
          <div class="pricing-signup">
            <a href="#" class="btn btn-danger">Sign up</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 article-first">
        <div class="pricing-wrap">
          <div class="pricing-head">
            <h2>$40</h2>
            <span>Professional</span>
          </div>
          <ul class="pricing-text-block">
            <li>6 month listing</li>
            <li>Unlimited Storage</li>
            <li>Priority Support</li>
            <li>Increased Searh ranking</li>
          </ul>
          <div class="pricing-signup">
            <a href="#" class="btn btn-danger">Sign up</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 article-first">
        <div class="pricing-wrap">
          <div class="pricing-head">
            <h2>$50</h2>
            <span>Ultimate</span>
          </div>
          <ul class="pricing-text-block">
            <li>Unlimited listing</li>
            <li>Unlimited Storage</li>
            <li>Dedicated Phone Support</li>
            <li>Sponsored Display</li>
          </ul>
          <div class="pricing-signup">
            <a href="#" class="btn btn-danger">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//END PRICING -->
