<div fxLayout="row wrap">
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-teal">
      <div mat-card-widget>
        <div mat-card-float-icon>
          <mat-icon>local_offer</mat-icon>
        </div>
        <div class="pl-0">
          <h2 mat-card-widget-title>103</h2>
          <p>Campaigns</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-purple">
      <div mat-card-widget>
        <div mat-card-float-icon>
          <mat-icon>phone</mat-icon>
        </div>
        <div class="pl-0">
          <h2 mat-card-widget-title>230</h2>
          <p>Customers</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-red">
      <div mat-card-widget>
        <div mat-card-float-icon>
          <mat-icon>notifications</mat-icon>
        </div>
        <div class="pl-0">
          <h2 mat-card-widget-title>323</h2>
          <p>Queries</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-indigo">
      <div mat-card-widget>
        <div mat-card-float-icon>
          <mat-icon>email</mat-icon>
        </div>
        <div class="pl-0">
          <h2 mat-card-widget-title>870</h2>
          <p>Opens</p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
