<!--============================= HEADER =============================-->
<div class="nav-menu sticky-top">
  <div class="bg transition">
    <div class="container-fluid fixed">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index.html"><img src="assets/home/images/logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="ti-menu"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
              <ul class="navbar-nav">

                <li class="nav-item">
                  <a class="nav-link" target="_blank"  [routerLink]="['/dashboard']">Dashboard</a>
                </li>


                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/about']">About</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/contact']">Contact</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/pricing']">Pricing</a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Blog
                    <span class="ti-angle-down"></span>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/blog']">Blog Listing</a>
                    <a class="dropdown-item" [routerLink]="['/blog-detail']">Blog Detail</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)='toggleModal()' style="cursor: pointer;">Login</a>
                </li>
                <li><a href="add-listing.html" class="btn btn-outline-danger top-btn"><span class="ti-plus"></span> Add
                    Listing</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!--//END HEADER -->

<router-outlet></router-outlet>


<!--============================= FOOTER =============================-->
<footer class="main-block gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 responsive-wrap">
        <div class="location">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <p>503 Sylvan Ave, Mountain View<br> CA 94041, United States</p>
        </div>
      </div>
      <div class="col-md-4 responsive-wrap">
        <div class="footer-logo_wrap">
          <img src="assets/home/images/footer-logo.png" alt="#" class="img-fluid">
        </div>
      </div>
      <div class="col-md-4 responsive-wrap">
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="copyright">
          <p>Copyright © 2017 Listed Inc. All rights reserved</p>
          <a href="#">Privacy</a>
          <a href="#">Terms</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--//END FOOTER -->



